In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('Position_Salaries.csv')

In [3]:
dataset.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [4]:
X=dataset.iloc[:, :-1].values
y=dataset.iloc[:, 2].values

In [5]:
X_train, y_train, X_test, y_test = train_test_split(X, y)

In [6]:
X_train, y_train

(array([['Country Manager', 5],
        ['Senior Consultant', 3],
        ['Manager', 4],
        ['CEO', 10],
        ['Junior Consultant', 2],
        ['C-level', 9],
        ['Region Manager', 6]], dtype=object), array([['Partner', 7],
        ['Business Analyst', 1],
        ['Senior Partner', 8]], dtype=object))