In [11]:
import pandas as pd
import numpy as np
from sklearn.model_validation import train_test_split

ImportError: No module named model_validation

In [12]:
dataset = pd.read_csv('Position_Salaries.csv')

In [15]:
dataset.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [14]:
X=dataset.iloc[:, :-1].values
y=dataset.iloc[:, 2].values